* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  background-color: red;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #000;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

body {
  background-color: #fafafa;
}

.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  display: flex;

  &__sidebar {
    background-color: #f4f6f8;
    max-width: 200px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__tasks {
    width: 100%;
    padding: 60px;
    overflow: auto;
  }
}
